@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --bg-color: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);

  --box-blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("./images/bg-intro-desktop.png");
  background-color: var(--bg-color);
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container > div {
  flex: 1;
  padding: 0 20px;
}

h1 {
  font-size: 3rem;
  line-height: 1.1em;
  margin-bottom: 30px;
}

p {
  font-size: 15px;
  opacity: 0.8;
}

.box {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 7px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.box-blue {
  background-color: var(--box-blue);
  padding: 20px;
}

.form-control {
  position: relative;
  margin-bottom: 30px;
}

.form-control small {
  color: var(--bg-color);
  font-weight: 600;
  position: absolute;
  bottom: -20px;
  right: 0;
  opacity: 0;
}

.form-control.error small {
  opacity: 1;
}

input {
  display: block;
  width: 100%;
  padding: 15px 25px;
  border-radius: 5px;
  border: 1.5px solid var(--grayish-blue);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

input:focus {
  outline: none;
  border-color: var(--box-blue);
}

.form-control.error input {
  border-color: var(--bg-color);
  color: var(--bg-color);
}

.form-control.error input::placeholder {
  color: var(--bg-color);
}

.form-control img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  opacity: 0;
}

.form-control.error img {
  opacity: 1;
}

button {
  background-color: var(--green);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: block;
  border: 1px solid hsl(154, 59%, 45%);
  box-shadow: 0 3px hsl(154, 59%, 45%);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: 0 1px hsl(154, 59%, 45%);
}

small {
  font-size: 11px;
  font-weight: 500;
  color: var(--grayish-blue);
  display: block;
  margin-top: 15px;
}

small a {
  text-decoration: none;
  color: var(--bg-color);
  font-weight: 700;
}

@media (max-width: 768px) {
  h1,
  p {
    text-align: center;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  p.description {
    margin-bottom: 20px;
  }

  .container {
    flex-direction: column;
    padding: 20px 0;
  }
}
